<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee - Alerts</title>
    <th:block th:replace="fragments/style :: style"></th:block>
</head>
<body>

<div class="sidebar" style="background:#0f766e;">
    <h2>Employee Panel</h2>
    <a href="/employee/dashboard">Dashboard</a>
    <a href="/products/employee/products">Products</a>
    <a href="/alerts/employee">Alerts</a>
    <a href="/transactions/employee">Transactions</a>
    <a href="/auth/logout">Logout</a>
</div>

<div class="content">
    <div class="card">
        <h3>Low Stock Alerts</h3>

        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Stock</th>
            </tr>

            <tr th:each="p : ${lowStockProducts}">
                <td th:text="${p.productId}"></td>
                <td th:text="${p.name}"></td>
                <td th:text="${p.stockQuantity}"></td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>