<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reset Password</title>
    <th:block th:replace="fragments/style :: style"></th:block>
</head>
<body style="display:flex;justify-content:center;align-items:center;height:100vh;background:#f4f6f9;">

<div class="card" style="width:400px;">
    <h2 style="text-align:center;">Reset Password</h2>

    <form th:action="@{/auth/reset}"
          th:object="${resetRequest}"
          method="post">

        <input type="hidden" th:field="*{token}" />

        <input type="password"
               th:field="*{newPassword}"
               placeholder="New Password"
               required/>

        <button type="submit">Reset Password</button>
    </form>


    <p th:text="${message}" style="text-align:center;color:green;"></p>
</div>

</body>
</html>
